extends homeLayout

block content
  div(class='uk-container')
    h1(class='uk-heading-hero uk-position-center uk-animation-fade', id='homeTitle') Video Xplorer
  div(class='uk-container uk-position-large uk-position-bottom-center uk-flex uk-flex-center', id='homeButtons')
    a(class='uk-button- uk-button-default uk-button-large uk-align-top', href='/signin') Sign in
    a(class='uk-button- uk-button-primary uk-button-large uk-align-top', href='/signup') Sign up